body {
  font-family: "Montserrat", sans-serif;
}

#product-overview {
  background: url("freedom.jpg");
  width: 100%;
  height: 528px;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
  /* padding: 20px;
    border: 2px solid black;
    margin: 10px; */
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

.plan {
  background: #bfe7ca;
  display: inline-block;
  width: 30%;
  text-align: center;
  vertical-align: middle;
  padding: 16px;
  margin: 8px;
}

.plan--highlighted {
  background: #2ddf5c;
  color: #ffffff;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__accomated {
  background: #ffffff;
  color: #2ddf5c;
  padding: 8px;
  border-radius: 8px;
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan__feature {
  margin: 8px 0;
}

.plan__title {
  color: #0e4f1f;
}

.plan__price {
  color: #858585;
}

.plan--highlighted .plan__title {
  color: #ffffff;
}

.plan--highlighted .plan__price {
  color: #0e4f1f;
}

.button {
  background: #0e4f1f;
  color: #ffffff;
  padding: 5px;
  border-radius: 8px;
  font: inherit;
  outline: none;
}

.button:hover,
.button:active {
  color: #0e4f1f;
  background: #ffffff;
  outline: none;
}

#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
}

.main_header {
  width: 100%;
  padding: 8px 10px;
  background: #2ddf5c;
}

.main_header__brand {
  color: gray;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  vertical-align: middle;
}

.main_header > div {
  display: inline-block;
}

.main_nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 75px);
  vertical-align: middle;
}

.main_nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main_nav__item {
  display: inline-block;
  margin-left: 16px;
  margin-right: 16px;
}

.main_nav__item > a {
  color: #0e4f1f;
  text-decoration: none;
  padding: 3px 0;
  font-weight: bold;
}

.main_nav__item > a:hover,
.main_nav__item > a:active {
  color: white;
  border-bottom: 5px solid white;
}

.main_nav__item--cta {
  background: #ff1b68;
  padding: 8px 16px;
  color: white;
  border-radius: 8px;
}

.main_nav__item--cta a:hover,
.main_nav__item--cta a:active {
  color: #ff1b68;
  background: white;
  border: none;
}

/* h1 {
    font-family: sans-serif;
} */
