.section-title {
  color: #2ddf5c;
  text-align: center;
}

.plan {
  background: #bfe7ca;
  display: inline-block;
  width: 30%;
  text-align: center;
  vertical-align: middle;
  padding: 16px;
  margin: 8px;
}

.plan--highlighted {
  background: #2ddf5c;
  color: #ffffff;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__accomated {
  background: #ffffff;
  color: #2ddf5c;
  padding: 8px;
  border-radius: 8px;
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan__feature {
  margin: 8px 0;
}

.plan__title {
  color: #0e4f1f;
}

.plan__price {
  color: #858585;
}

.plan--highlighted .plan__title {
  color: #ffffff;
}

.plan--highlighted .plan__price {
  color: #0e4f1f;
}

#key_features {
  background: #ff1b68;
  /* margin: 32px; */
  padding: 16px;
}

#key_features .section-title {
  color: #ffffff;
  margin: 32px;
  padding: 16px;
}

.key_features_lists {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.key_features_element {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}

.key_feature_description {
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
}

.key_feature_image {
  background: #eee7e7;
  border-radius: 50%;
  width: 100px;
  border: 2px solid #d3c2c2;
  height: 100px;
  margin: auto;
}

#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
}
