* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

#product-overview {
  /* background: url("freedom.jpg"); */
  background: url("images/freedom.jpg") left 10% bottom 20% / cover no-repeat border-box;
  /* background-image: linear-gradient(blue, red, transparent);
  background-image: radial-gradient(black, transparent); */
  /* background-image: url("freedom.jpg");
  background-size: cover;
  background-position: left 10% bottom 20%; */
  /* background-repeat: no-repeat;
  background-origin: border-box;
  background-clip: content-box; */
  width: 100%;
  height: 528px;
  padding: 10px;
  margin-top: 43px;
  position: relative;
  /* border: 5px solid red; */
}
.button {
  background: #0e4f1f;
  color: #ffffff;
  padding: 5px;
  border-radius: 8px;
  font: inherit;
}

.button:hover,
.button:active {
  color: #0e4f1f;
  background: #ffffff;
}

.button:focus {
  outline: none;
}

.main_header {
  width: 100%;
  padding: 8px 10px;
  background: #2ddf5c;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.main_header__brand {
  color: gray;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  vertical-align: middle;
  height: 30px;
  display: inline-block;
}

.main_header__brand img {
  height: 100%;
  /* width: 20px; */
}

.main_header > div {
  display: inline-block;
}

.main_nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 75px);
  vertical-align: middle;
}

.main_nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main_nav__item {
  display: inline-block;
  margin-left: 16px;
  margin-right: 16px;
}

.main_nav__item a {
  color: #0e4f1f;
  text-decoration: none;
  padding: 3px 0;
  font-weight: bold;
}

.main_nav__item a:hover,
.main_nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}

.main_nav__item--cta a {
  background: #ff1b68;
  padding: 8px 16px;
  color: white;
  border-radius: 8px;
}

.main_nav__item--cta a:hover,
.main_nav__item--cta a:active {
  color: #ff1b68;
  background: white;
  border: none;
}

.main_footer {
  background: #000;
  margin-top: 48px;
  padding: 32px;
}

.main_footer_links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  /* display: inline-block; */
}

.main_footer_link {
  margin: 0 16px;
  display: inline-block;
}

.main_footer_link a {
  color: #ffffff;
  text-decoration: none;
}

.main_footer_link a:hover,
.main_footer_link a:active {
  color: #ccc;
}
